# Base de données
DATABASE_URL="postgresql://atlasops:atlasops@localhost:5433/atlasops"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="votre-secret-ici-generer-avec-openssl-rand-base64-32"

# Email (SMTP pour envoi OTP et notifications)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="contact@atlasops.fr"
SMTP_PASSWORD="votre-mot-de-passe-applicatif"
EMAIL_FROM="ATLAS OPS <contact@atlasops.fr>"

# Application
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="ATLAS OPS"
